$primary_color: #767676;
$secondary_color: #edebebc6;
$main_color: rgb(34, 34, 34);

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
section {
  padding: 1rem;
  .container {
    max-width: 50%;
    margin: 6% auto;
    padding: 1rem;
    h1,
    h2 {
      color: $secondary_color;
      text-align: center;
    }
    .tableGame {
      margin: 1rem auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 240px;
      gap: 16px;
      .item {
        color: $secondary_color;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $secondary_color;
        border-radius: 10px;
        width: 100%;
        height: 80px;
        cursor: pointer;
        transition: all 300ms;
        &:hover {
          background: $primary_color;
          color: $main_color;
          border: none;
        }
      }
    }
    .buttomRestart {
      display: flex;
      justify-content: center;
      button {
        font-size: 20px;
        font-weight: 500;
        font-family: "Nunito", sans-serif;
        width: 35%;
        height: 40px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 300ms;
        background-color: $primary_color;
        color: $secondary_color;
        &:hover {
          background: $secondary_color;
          color: $main_color;
        }
      }
    }
  }
}
